############################## HEADER ##########################################
# Repository's ignore list.
################################################################################



# Ignore repository's general files.
#README*
#LICENSE
#COPYING
#INSTALL
#CONTRIBUTING
#ChangeLog
#configure.ac
#configure
#Dockerfile
#.dockerignore
!.gitignore
!.travis.yml
!environment.yml


# Ignore repository's general folders.
#.git/
!.github/
#config/
#scripts/
#src/
#include/
#lib/
#libexec/
bin/
sbin/
share/
autom4te.cache
#manual/
#man/
#docs/
#doc/
#cloud/
#docker/
#misc/
#templates/
#modules/
#data/
backup/
bkp/
repos/
packs/
deps/
build/
dist/
#test/
t/
logs/
log/
img/


# Ignore personal keys and tokens.
*.pub
*.pem


# Ignore general doc, building, log, data and timestamp files.
#*.txt
#*.md
#*.rst
#*.tex
#*.bib
#*.sty
#*.dvi
#*.pdf
#*.html
#*.pod
#*.tt
#*.ac
#*.am
#*.in
#*.xml
*.yml
*.json
*.conf
*.cfg
*.ini
*.tar.bz2
*.tar.gz
*.tar.xz
*.tbz2
*.tbz
*.tgz
*.tar
*.bz2
*.gz
*.xz
*.zip
*.db
*.perldb
*.csv
*.tsv
*.dat
*.data
*.log
*.bkp
*.swp
*.swo
*~
*tmp
*timestamp*

# Ignore code files. (Don't do that!)
#*.sh
#*.mk
#*.l
#*.c
#*.cpp
#*.h
*.[oa]
*.so
#*.pl
#*.pm
#*.t
#*.py
*.pyc
#*.R
#*.r
#*.m
#*.jar
#*.js
#*.css
#*.dck
#*.aws
*.exe


# Ignore runtime structural folders.
*capsule/
*pocket/
*config/
*inputs/
*outputs/
*assets/
*reference/
*annotation/
*extra/
*tmp/

*outputs/imgs/
*outputs/docs/
*outputs/plots/
*outputs/models/
*outputs/results/
*outputs/templates/
*outputs/timestamps/


# Ignore repository's specific folders and files.
*.fastq
*.fa
*.fai
*.cran
*.sam
*.sai
*.bam
*.bai
*.gtf
*.gff
*.vcf
*.bed
